environment:
  matrix:
  - TOOLCHAIN: "Visual Studio 2017 x86"
    APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
    GENERATOR: Visual Studio 15 2017
    VCVARS: C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Auxiliary\Build\vcvarsall.bat
    VCVARSARG: x86
  - TOOLCHAIN: "Visual Studio 2017 x64"
    APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
    GENERATOR: Visual Studio 15 2017 Win64
    VCVARS: C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Auxiliary\Build\vcvarsall.bat
    VCVARSARG: amd64

  # Mingw-w64
  - TOOLCHAIN: "MinGW-w64 GCC"
    APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
    GENERATOR: Ninja
    PACMAN_PACKAGES: "mingw-w64-x86_64-{headers,crt,gcc,boost,ninja}"
    PATH: C:\msys64\mingw64\bin;%PATH%

  # Clang/C2
  - TOOLCHAIN: "Visual Studio 2017 Clang/C2"
    APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
    GENERATOR: Visual Studio 15 2017 Win64
    VCVARS: C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Auxiliary\Build\vcvarsall.bat
    VCVARSARG: amd64
    CMAKE_ARGS: -T"v141_clang_c2"

  # Clang targeting MSVC
  - TOOLCHAIN: "Visual Studio 2015 Clang/LLVM"
    APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
    GENERATOR: Ninja
    PACMAN_PACKAGES: "mingw-w64-x86_64-ninja"
    PATH: C:\msys64\mingw64\bin;%PATH%
    VCVARS: C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\vcvarsall.bat
    VCVARSARG: amd64
    CMAKE_ARGS: -DCMAKE_C_COMPILER=clang-cl.exe -DCMAKE_CXX_COMPILER=clang-cl.exe
  - TOOLCHAIN: "Visual Studio 2017 Clang/LLVM"
    APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
    GENERATOR: Ninja
    PACMAN_PACKAGES: "mingw-w64-x86_64-ninja"
    PATH: C:\msys64\mingw64\bin;%PATH%
    VCVARS: C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Auxiliary\Build\vcvarsall.bat
    VCVARSARG: amd64
    CMAKE_ARGS: -DCMAKE_C_COMPILER=clang-cl.exe -DCMAKE_CXX_COMPILER=clang-cl.exe
    CLANG_URL: http://prereleases.llvm.org/win-snapshots/LLVM-5.0.0-r306282-win64.exe

  # Clang targeting mingw-w64
  - TOOLCHAIN: "MinGW-w64 Clang"
    APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
    GENERATOR: Ninja
    PACMAN_PACKAGES: "mingw-w64-x86_64-{headers,crt,boost,clang,ninja}"
    PATH: C:\msys64\mingw64\bin;%PATH%
    CMAKE_ARGS: -DCMAKE_CXX_COMPILER=clang++ -DCMAKE_C_COMPILER=clang

matrix:
  allow_failures:
    - TOOLCHAIN: "Visual Studio 2017 Clang/C2"

configuration:
 - Debug
 - Release

shallow_clone: true

install:
 - if defined CLANG_URL appveyor DownloadFile %CLANG_URL% -FileName llvm-installer.exe
 - if defined CLANG_URL START /WAIT llvm-installer.exe /S /D=C:\"Program Files\LLVM"
 - set CMAKE_URL="https://cmake.org/files/v3.10/cmake-3.10.1-win64-x64.zip"
 - appveyor DownloadFile %CMAKE_URL% -FileName cmake.zip
 - mkdir C:\cmake
 - 7z x cmake.zip -oC:\cmake > nul
 - set PATH=C:\cmake\cmake-3.10.1-win64-x64\bin;%PATH%

clone_script:
  - git clone -q --branch=%APPVEYOR_REPO_BRANCH% https://github.com/skui-org/skui.git %APPVEYOR_BUILD_FOLDER%
  - cd %APPVEYOR_BUILD_FOLDER%
  - git checkout -qf %APPVEYOR_REPO_COMMIT%
  - git submodule -q update --init --recursive

before_build:
  - mkdir build
  - cd build
  - if defined VCVARS call "%VCVARS%" %VCVARSARG%
  - if DEFINED PACMAN_PACKAGES C:\msys64\usr\bin\bash.exe -lc "yes | pacman --needed -Syu"
  - if DEFINED PACMAN_PACKAGES C:\msys64\usr\bin\bash.exe -lc "yes | pacman --needed -Syu"
  - if DEFINED PACMAN_PACKAGES C:\msys64\usr\bin\bash.exe -lc "yes | pacman --needed -S %PACMAN_PACKAGES%"
  - set PATH=%PATH:C:\Program Files\Git\usr\bin;=%
  - cmake %CMAKE_ARGS% -G"%GENERATOR%" -DCMAKE_BUILD_TYPE="%CONFIGURATION%" .. || (echo CMAKEERROR && type CMakeFiles\CMakeError.log && echo CMAKEOUTPUT && type CMakeFiles\CMakeOutput.log && exit 1)

build_script:
  - cmake --build . --config %CONFIGURATION%

test_script:
  - ctest --output-on-failure -C %CONFIGURATION%
